html {
  text-align:center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align:center;
  font-size:70px;
}
h2 {
  font-family:Times;
  color:grey;
}

img {
  padding:100px;
  align-content:center;
}
p {
  font-family:Times;
}
.container {
  background:black;
  color:white;
  display:flex;
  flex-direction:row;
  height:7vh;
  font-family:'Open Sans', sans-serif;
}

.button
{
  display:flex;
  flex-direction:row;
  padding:20px;
  font-size:20px;
  font-family:'Open Sans', sans-serif;
}
