p {
  font-size:40px;
  color:green;
  background:red;
}

.orange {
  background: orange;
  margin:0 auto;
  text-align:left;
  border: 2px dashed blue;
  border-radius: 20px;
  padding:60px;
  line-height: 70px;
  font-family:fantasy;
}
