html{
  font-family:monospace;
  background-color:lavenderblush;
}



img{
  max-width:100%;
  width:200px;
}
h1{
 background-color:powderblue;
 color:black;
}
h2{
  background-color:powderblue;
  color:black;
}

.special {
  background:lavender;
  border-style:solid;
  padding:15px;

}

.blah {
  background:lavender;
  border-style:solid;
  padding:15px;
}
