html {
  background-color:aqua;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  text-align:center;
  font-family:monospace;}
.mint {
  top:500px;
  left:600px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.mint:hover {
  opacity:1;
}
.one {
  bottom:400px;
  right:600px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.one:hover {
  opacity:1;
}
.two {
  left:300px;
  bottom:400px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.two:hover {
  opacity:1;
}
.three {
  left:500px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.three:hover {
  opacity:1;
}
.position {
  position:absolute;
}
