html {
  background-color:aqua;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  text-align:center;
  font-family:monospace;}
.mint {
  top:500px;
  left:600px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.mint:hover {
  opacity:1;
}
.minty {
  bottom:400px;
  right:600px;
  opacity:0;
  transition: opacity 1s ease-in-out;
}
.minty:hover {
  opacity:1;
}
